.calendar-widgets__Calendar__component-interface {
	@apply w-full;
}

.calendar-widgets__Calendar__component {
	@apply grid grid-cols-7 border border-gray-700/50 rounded-md;
}

.calendar-widgets__Calendar__custom-header,
.calendar-widgets__Calendar__custom-footer {
  width: 100%;
  min-height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar-widgets__Calendar__BaseDayComponent__outside-current-month {
  color: rgb(255, 255, 255, 0.5);
}

.calendar-widgets__Calendar__day-name,
.calendar-widgets__Calendar__BaseDayComponent__base-day {
  text-align: center;
  font-size: .7em;
  padding: 0.5em;
}

.calendar-widgets__Calendar__day-name {  
	@apply px-0.5 py-1.5 flex justify-center items-center text-white text-xs font-bold bg-blue-500;
}

.calendar-widgets__Calendar__BaseDayComponent__base-day {
	@apply h-8 w-8 flex justify-center items-center p-0.5 text-xs;
}

.is-current-day {
	@apply bg-purple-600;
}